.LoadingPage .container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:  repeat(3, 150px);
  grid-template-rows: repeat(3, 100px);
}

.LoadingPage .item {
  text-align: center;
  grid-row: 2/3;
  grid-column: 2/3;
}
