.RootPage, .RootPage .login-screen-content, .RootPage .login-screen-page, .RootPage .login-screen .page {
  background-color: var(--gl-green) !important;
}

/* TODO: Add fix for screens < 320px (Galaxy Fold is 280px) */

.RootPage .welcome {
  font-family: var(--gl-title-font);
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: -1rem;
}

.RootPage .logo {
  font-family: var(--gl-title-font);
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
}


.RootPage .logo > span {
  color: var(--gl-green-light);
}


.RootPage .button {
  color: #fff;
  border-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
