.RegisterLocationWelcomePage .fill-in-the-blank {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px dashed #222;
  color: var(--gl-green);
}
.RegisterLocationWelcomePage .category-select {
  cursor: pointer;
}
.RegisterLocationWelcomePage .introduction {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.RegisterLocationWelcomePage .has-error {
  color: red;
  border-bottom: 1px dashed red;
}
.RegisterLocationWelcomePage .has-error::placeholder {
  color: red;
}
input[name="firstName"].fill-in-the-blank {
  width: 40%;
  margin-right: 7px;
}
input[name="lastName"].fill-in-the-blank {
  width: 40%;
}
input[name="locationCategory"].fill-in-the-blank {
  width: 70%;
}
input[name="zipCode"].fill-in-the-blank {
  width: 30%;
  margin-left: 7px;
}

input[name="employeeCount"].fill-in-the-blank {
  width: 35%;
  margin-left: 7px;
  margin-right: 7px;
  padding-right: 5px;
}
