.title {
  display: flex;
  align-items: center;
}

.title-badge {
  text-transform: capitalize;
  margin-left: 10px;
  padding: 10px 10px !important;
  background-color: var(--gl-green-dark) !important;
}

.map-image {
  margin: 20px 0;
}
