.OnlineStatus {
  text-align: center;
  line-height: 2.5rem;
  color: #0A322B;
  font-weight: bold;
  background-color: #ffacd3;
}


.OnlineStatus .retry {
  border: 2px solid #0A322B;
  border-radius: 5px;
  padding: 2px 8px;
  margin-left: 10px;
  display: inline;
  width: auto;
  background-color: #ffacd3;
  transition: background-color 0.5s ease;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.OnlineStatus .retry:hover, .OnlineStatus .retry:focus {
  background-color: #ffb8d9;
}

.OnlineStatus .retry:active {
  background-color: #ff0077;
}
